{% extends "/base.jinja" %}
{% set title="Management" %}
{% block main %}
<nav class="bnt-group">
    <a class="bnt" href="{{ url_for('root.get_index') }}">Back</a>
    <a class="bnt" href="{{ url_for('.get_categories_index') }}">Categories</a>
    <a class="bnt" href="{{ url_for('.get_locations_index') }}">Locations</a>
    <a class="bnt" href="{{ url_for('.get_items_index') }}">Items</a>
</nav>
{% endblock main %}
