{% extends "/base.jinja" %}
{% set title="Management - Items" %}
{% block main %}
<nav>
    <ul>
        <li><a href="{{ url_for('manage.get_index') }}">Back</a></li>
        <li><a href="{{ url_for('manage.get_items_new') }}">New Item</a></li>
    </ul>
</nav>

{% endblock main %}
