{% from "/macros.jinja" import create_row_limit_select %}
{% extends "/base.jinja" %}
{% set title="View - Items Filtered" %}
{% block main %}
<nav>
    <ul>
        <li><a href="{{ url_for('view.get_items_index') }}">Back</a></li>
    </ul>
</nav>

<form action="{{ url_for('view.get_items_filtered') }}" method="get">
    <h3>Filters</h3>
    <div>
        <label for="view-item-name">Name</label>
        <input type="text" name="name" id="view-item-name" value="{{ filtered_name }}">
    </div>
    <div>
        <label for="view-item-category">Category</label>
        <select name="category-id" id="view-item-category">
            <option value="">** Root **</option>
            {% for category in categories %}
            <option {% if category.id == filtered_category_id %}selected{% endif %} value="{{ category.id }}">{{ category.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="view-item-location">Location</label>
        <select name="location-id" id="view-item-location">
            <option value="">** Root **</option>
            {% for location in locations %}
            <option {% if location.id == filtered_location_id %}selected{% endif %} value="{{ location.id }}">{{ location.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div>
        {{ create_row_limit_select("view-item-row-limit", "row-limit", selected=row_limit) }}
    </div>
    <button type="submit">Search</button>
</form>

<section>
    <h3>Output</h3>
    <table>
        <caption>Items</caption>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>{{ item.name }}</td>
                {% if item.description %}
                <td>{{ item.description | truncate(18, true) }}</td>
                {% else %}
                <td>-</td>
                <td><a href="{{ url_for('view.get_items_item', item_id=item.id) }}">View</a></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div>
        {% if last_item_id and has_next %}
        <a href="{{ url_for('view.get_items_filtered', last_id=last_item_id, **next_page_args) }}">Next</a>
        {% endif %}
    </div>
</section>
{% endblock main %}
