{% extends "/base.jinja" %}
{% set title="View - Items" %}
{% block main %}
<nav>
    <ul>
        <li><a href="{{ url_for('view.get_index') }}">Back</a></li>
        <li><a href="{{ url_for('view.get_items_filtered') }}">Filtered</a></li>
    </ul>
</nav>

<table>
    <caption>Recently Added</caption>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        {% for item in recently_added %}
        <tr>
            <td>{{ item.name }}</td>
            {% if item.description %}
            <td>{{ item.description | truncate(18, true) }}</td>
            {% else %}
            <td>-</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock main %}
