:root {
    --col-bg: #f1f1f1;
    --col-secondary: #757575;
    --col-primary: #0e59e6;
    --col-warning: #e6880e;
    --col-danger: #e60e0e;

    --br-1: 8px;

    --ff-title: 'Roboto', sans-serif;
    --ff-main: 'Open Sans', sans-serif;
}

*,
::after,
::before {
    box-sizing: border-box;
}

body {
    background-color: var(--col-bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--ff-title);
}

body,
select,
input,
textarea,
button {
    font-family: var(--ff-main);
    font-size: 1rem;
}

footer {
    margin-top: 100px;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table :is(td, th) {
    padding: .3rem;
}

.d-group,
.group {
    display: flex;
}

.a-center {
    align-items: center;
}

.jc-end {
    justify-content: flex-end;
}

.gap-3 {
    gap: .3rem;
}

.bnt-group a,
.bnt {
    background-color: var(--col-secondary);
    padding: .8rem;
    text-align: center;
    text-decoration: none;
    color: white;
    transition-duration: 400ms;
    border-radius: var(--br-1);
    cursor: pointer;
    border: none;
    display: inline-block;
}

.bnt-group a:hover,
.bnt:hover {
    background-color: black;
}

.bnt-group {
    margin: .4rem 0;
    padding: 0;
    list-style: none;
    display: flex;
    vertical-align: middle;
    gap: .2rem;
}

.form-label {
    margin-bottom: .5rem;
    display: inline-block;
}

.form-control {
    display: block;
    width: 100%;
    padding: .4rem .3rem;
}

textarea.form-control {
    resize: vertical;
}

.title-font {
    color: initial;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
}

a.title-font:hover {
    text-decoration: underline;
}

.m-reset {
    margin: 0;
}

.mr-auto {
    margin-right: auto;
}

.mb-3 {
    margin-bottom: .3rem;
}

.col-primary {
    background-color: var(--col-primary);
    color: white;
}

.col-warning {
    background-color: var(--col-warning);
    color: white;
}

.col-danger {
    background-color: var(--col-danger);
    color: white;
}

.col-link,
.col-link:active {
    color: var(--col-primary);
}

@media print {
    :root {
        --col-bg: white;
    }
}

@media (max-width: 700px) {

    .d-group,
    .bnt-group {
        flex-direction: column;
        width: 100%;
    }

    .bnt-group a,
    .bnt {
        padding: .5rem;
    }
}
