<nav>
    <ul>
        <li><a href="">New Item</a></li>
        <li><a href="{{ url_for('view.get_index') }}">View</a></li>
        <li><a href="{{ url_for('manage.get_index') }}">Manage</a></li>
    </ul>
</nav>
