{% extends "/base.jinja" %}
{% set title="Management - Edit Location '" + location.name + "'" %}
{% block main %}
<nav class="bnt-group">
    <a href="{{ url_for('.get_locations_location', location_id=location.id) }}">Back</a>
</nav>

<section>
    <h3>Attributes</h3>
    <form action="{{ url_for('.post_locations_location_edit', location_id=location.id) }}" method="post">
        <div class="mb-3">
            <label class="form-label required" for="edit-location-name">Name</label>
            <input class="form-control" type="text" name="name" id="edit-location-name" maxlength="64" value="{{ location.name }}" required>
        </div>
        <div class="mb-3">
            <label class="form-label" for="edit-location-desc">Description</label>
            <textarea class="form-control" name="description" id="edit-location-desc" cols="30" rows="10" maxlength="512">
                {%- if location.description -%}{{ location.description }}{%- endif -%}
            </textarea>
        </div>
        <button type="submit" class="bnt col-primary">Save</button>
    </form>
</section>

<section>
    <h3>Danger Zone</h3>
    <a class="bnt col-danger" href="{{ url_for('.get_locations_location_purge', location_id=location.id) }}">Purge</a>
</section>
{% endblock main %}
