{% extends "/base.jinja" %}
{% set title="Management - Locations" %}
{% block main %}
<nav>
    <ul>
        <li><a href="{{ url_for('.get_index') }}">Back</a></li>
        <li><a href="{{ url_for('.get_locations_new') }}">New Location</a></li>
    </ul>
</nav>

<table>
    <caption>Total Counts</caption>
    <thead>
        <tr>
            <th>Roots Count</th>
            <th>Total Count</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ roots_count }}</td>
            <td>{{ total_count }}</td>
        </tr>
    </tbody>
</table>

<table>
    <caption>Root Locations</caption>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for location in location_roots %}
        <tr>
            <td>{{ location.name }}</td>
            {% if location.description %}
            <td>{{ location.description | truncate(18, true) }}</td>
            {% else %}
            <td>-</td>
            {% endif %}
            <td><a href="{{ url_for('.get_locations_location', location_id=location.id) }}">View</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock main %}
