{% extends "/base.jinja" %}
{% set title="Management - New Location" %}
{% block main %}
<nav class="bnt-group">
    <a href="{{ url_for('.get_locations_index') }}">Back</a>
</nav>

<form action="{{ url_for('.post_locations_new') }}" method="post">
    <div class="mb-3">
        <label class="form-label" for="new-location-name">Name</label>
        <input class="form-control" type="text" name="name" id="new-location-name" required maxlength="64">
    </div>
    <div class="mb-3">
        <label class="form-label" for="new-location-desc">Description</label>
        <textarea class="form-control" name="description" id="new-location-desc" cols="30" rows="10" maxlength="512"></textarea>
    </div>
    <div class="mb-3">
        <label class="form-label" for="new-location-parent">Parent Location</label>
        <select class="form-control" name="parent-id" id="new-location-parent">
            <option value="">** Root **</option>
            {% for location in locations %}
            <option value="{{ location.id }}">{{ location.name }}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="bnt col-primary">Create</button>
</form>
{% endblock main %}
