{% extends "/base.jinja" %}
{% set title="Management - Edit Category '" + category.name + "'" %}
{% block main %}
<nav>
    <ul>
        <li><a href="{{ url_for('.get_categories_category', category_id=category.id) }}">Back</a></li>
    </ul>
</nav>

<section>
    <h3>Attributes</h3>
    <form action="{{ url_for('.post_categories_category_edit', category_id=category.id) }}" method="post">
        <div>
            <label for="edit-category-name">Name</label>
            <input type="text" name="name" id="edit-category-name" maxlength="64" value="{{ category.name }}" required>
        </div>
        <div>
            <label for="edit-category-desc">Description</label>
            <textarea name="description" id="edit-category-desc" cols="30" rows="10" maxlength="512">
                {%- if category.description -%}{{ category.description }}{%- endif -%}
            </textarea>
        </div>
        <button type="submit">Save</button>
    </form>
</section>

<section>
    <h3>Danger Zone</h3>
    <a href="{{ url_for('.get_categories_category_purge', category_id=category.id) }}">Purge</a>
</section>
{% endblock main %}
