{% extends "/base.jinja" %}
{% set title="Management - Categories" %}
{% block main %}
<nav class="bnt-group">
    <a href="{{ url_for('.get_index') }}">Back</a>
    <a href="{{ url_for('.get_categories_new') }}">New Category</a>
</nav>

<table>
    <caption>Total Counts</caption>
    <thead>
        <tr>
            <th>Roots Count</th>
            <th>Total Count</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ roots_count }}</td>
            <td>{{ total_count }}</td>
        </tr>
    </tbody>
</table>

<table>
    <caption>Root Categories</caption>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for category in category_roots %}
        <tr>
            <td>{{ category.name }}</td>
            {% if category.description %}
            <td>{{ category.description | truncate(18, true) }}</td>
            {% else %}
            <td>-</td>
            {% endif %}
            <td class="group jc-end gap-3">
                <a class="bnt" href="{{ url_for('.get_categories_category', category_id=category.id) }}">View</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock main %}
