{% extends "/base.jinja" %}
{% set title="Management - New Category" %}
{% block main %}
<nav class="bnt-group">
    <a href="{{ url_for('.get_categories_index') }}">Back</a>
</nav>

<form action="{{ url_for('.post_categories_new') }}" method="post">
    <div class="mb-3">
        <label class="form-label required" for="new-category-name">Name</label>
        <input class="form-control" type="text" name="name" id="new-category-name" required maxlength="64">
    </div>
    <div class="mb-3">
        <label class="form-label" for="new-category-desc">Description</label>
        <textarea class="form-control" name="description" id="new-category-desc" cols="30" rows="10" maxlength="512"></textarea>
    </div>
    <div class="mb-3">
        <label class="form-label" for="new-category-parent">Parent Category</label>
        <select class="form-control" name="parent-id" id="new-category-parent">
            <option value="">** Root **</option>
            {% for category in categories %}
            <option value="{{ category.id }}">{{ category.name }}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="bnt col-primary">Create</button>
</form>
{% endblock main %}
