{% extends "/base.jinja" %}
{% set title="Management - Items Filtered" %}
{% block main %}
<nav class="bnt-group">
    <a href="{{ url_for('.get_items_index') }}">Back</a>
</nav>

<form action="{{ url_for('.get_items_filtered') }}" method="get">
    <h3>Filters</h3>
    <div class="mb-3">
        <label class="form-label" for="view-item-name">Name</label>
        <input class="form-control" type="text" name="name" id="view-item-name" value="{{ filtered_name }}">
    </div>
    <div class="mb-3">
        <label class="form-label" for="view-item-category">Category</label>
        <select class="form-control" name="category-id" id="view-item-category">
            <option value="">** Root **</option>
            {% for category in categories %}
            <option {% if category.id == filtered_category_id %}selected{% endif %} value="{{ category.id }}">{{ category.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <label class="form-label" for="view-item-location">Location</label>
        <select class="form-control" name="location-id" id="view-item-location">
            <option value="">** Root **</option>
            {% for location in locations %}
            <option {% if location.id == filtered_location_id %}selected{% endif %} value="{{ location.id }}">{{ location.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" name="removed" id="view-item-removed" value="1" {% if removed %}checked{% endif %}>
        <label class="form-label" for="view-item-removed">Show Removed</label>
    </div>
    <button type="submit" class="bnt">Search</button>
</form>

<section>
    <h3>Output</h3>
    <table class="mb-3 header-top">
        <caption>Items</caption>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>{{ item.name }}</td>
                {% if item.description %}
                <td>{{ item.description | truncate(18, true) }}</td>
                {% else %}
                <td>-</td>
                {% endif %}
                <td class="group jc-end gap-3">
                    <a class="bnt" href="{{ url_for('.get_items_item', item_id=item.id) }}">View</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div>
        {% if last_item_id and has_next %}
        <a class="bnt" href="{{ url_for('.get_items_filtered', last_id=last_item_id, **next_page_args) }}">Next</a>
        {% endif %}
    </div>
</section>
{% endblock main %}
