{% extends "/base.jinja" %}
{% set title="Management - Items" %}
{% block main %}
<nav class="bnt-group">
    <a href="{{ url_for('.get_index') }}">Back</a>
    <a href="{{ url_for('.get_items_new') }}">New Item</a>
    <a href="{{ url_for('.get_items_filtered') }}">Filtered</a>
</nav>

<table class="header-top">
    <caption>Recently Added</caption>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for item in recently_added %}
        <tr>
            <td>{{ item.name }}</td>
            {% if item.description %}
            <td>{{ item.description | truncate(18, true) }}</td>
            {% else %}
            <td>-</td>
            {% endif %}
            <td class="group jc-end gap-3">
                <a class="bnt" href="{{ url_for('.get_items_item', item_id=item.id) }}">View</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock main %}
