{% extends "/base.jinja" %}
{% set title="Management - New Item" %}
{% block main %}
<nav class="bnt-group">
    <a href="{{ url_for('.get_items_index') }}">Back</a>
</nav>

<form action="{{ url_for('.post_items_new') }}" method="post">
    <div class="mb-3">
        <label class="form-label required" for="new-item-name">Name</label>
        <input class="form-control" type="text" name="name" id="new-item-name" required maxlength="64">
    </div>
    <div class="mb-3">
        <label class="form-label" for="new-item-desc">Description</label>
        <textarea class="form-control" name="description" id="new-item-desc" cols="30" rows="10" maxlength="512"></textarea>
    </div>
    <div class="mb-3">
        <label class="form-label" for="new-item-expiry">Expiry</label>
        <div class="group gap-3" aria-label="Expiry Controls">
            <input class="form-control" type="date" name="expiry" id="new-item-expiry">
            <button class="bnt" type="button" onclick="incr_date_by_months('new-item-expiry', 1)" title="Increment Month By 1">+1</button>
            <button class="bnt" type="button" onclick="incr_date_by_months('new-item-expiry', 3)" title="Increment Month By 3">+3</button>
            <button class="bnt" type="button" onclick="incr_date_by_months('new-item-expiry', 12)" title="Increment Month By 12">+12</button>
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label required" for="new-item-quantity">Quantity</label>
        <input class="form-control" type="number" name="quantity" id="new-item-quantity" min="1" step="1" value="1" required>
    </div>
    <div class="mb-3">
        <label class="form-label required" for="new-item-category">Category</label>
        <select class="form-control" name="category-id" id="new-item-category" required>
            <option value="">** Select An Option **</option>
            {% for category in categories %}
            <option value="{{ category.id }}">{{ category.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <label class="form-label required" for="new-item-location">Location</label>
        <select class="form-control" name="location-id" id="new-item-location" required>
            <option value="">** Select An Option **</option>
            {% for location in locations %}
            <option value="{{ location.id }}">{{ location.name }}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="bnt col-primary">Create</button>
</form>
{% endblock main %}
