<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} | Inventory Manager</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</head>

<body>
    <header>
        <div class="d-group a-center">
            <a class="mr-auto title-font" href="{{ url_for('root.get_index') }}">Inventory Manager</a>
            {% include "/includes/navbar.jinja" %}
        </div>
        <h1>{{ title }}</h1>
    </header>
    <main>
        {% block main %}{% endblock main %}
    </main>
    <footer>
        Running Inventory Manager,
        provided by <strong><a href="https://github.com/enchant97">enchant97</a></strong>
    </footer>
</body>

</html>
