<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} | Inventory Manager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
        <div class="group a-center">
            <h1 class="m-reset mr-auto"><a href="{{ url_for('root.get_index') }}">Inventory Manager</a></h1>
            {% include "/includes/navbar.jinja" %}
        </div>
        <h2>{{ title }}</h2>
    </header>
    <main>
        {% block main %}{% endblock main %}
    </main>
    <footer>
        Running Inventory Manager
    </footer>
</body>

</html>
